<script src="~/js/user.js" asp-append-version="true"></script>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<div id="users">
</div>
<button class="btn btn-primary" onclick=renderView('@Url.Action("Create")',"#userAction")>Add user</button>
<hr />
<div id="userAction">
</div>
