@model IEnumerable<UserAdministration.Application.Models.User.UserViewDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (!Model.Any())
    {
        <p>
            No Users found.
        </p>
    }
    else
    {
        @await Html.PartialAsync("_UserTable", Model)

        <div>
            <a asp-action="Login">Login</a>
        </div>
    }
}
