<script src="~/js/history.js" asp-append-version="true"></script>

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>
<div id="history">
</div>
<button class="btn btn-primary" onclick=renderView('@Url.Action("Login","User")',"#login")>Show login</button>
<hr />
<div id="login">
</div>
