@model IEnumerable<UserAdministration.Application.Models.History.HistoryViewDTO>

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

@{
    if (!Model.Any())
    {
        <p>
            No History found.
        </p>
    }
    else
    {
        @await Html.PartialAsync("_HistoryTable", Model)
    }
}
